* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para {
    display: flex;
    margin: 20px 40px;
}

.para1 {}


input {
    border: none;
    border-bottom: solid 1px rgb(62, 63, 63);
    padding-top: 20px;
    padding-bottom: 20px;
}
span{
    padding-top: 20px;
    margin-top: 20px;
}
textarea{
    border: none;
    border-bottom: solid 1px rgb(62, 63, 63);
    padding-top: 20px;
    padding-bottom: 20px;
}
button{
    border-radius: 0;
    border: 1px solid black;
    padding: 20px;
    font-weight: bolder;
}
.para2{

}
.para2 h2{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.para2 p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.item{
    display: flex;

}