*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.para1{
    text-align: center;
}
.para2{
    margin: 20px 200px;
    background-color: rgb(233, 227, 233);
    padding: 20px;
}
h1{
    font-size: 50px;
}
.p1{
    letter-spacing: 4px;
    margin-top: 10px;
    font-size: 20px;
}
.p2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
i{
    width: 30px;
}