* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.para {
    width: 100%;
    border: none;
    margin: 50px;
    background-color: thistle;
    padding: 450px 100px 100px 100px;
    text-align: center;
}

.para3 {
    width: 800px;
    border: none;
    margin: auto;
    background-color: tomato;
    text-align: center;
    padding: 200px 100px 10px 100px;
}
p, h1{
    margin: 5px;
    text-align: center;
}
.p1{
    text-align: justify;
}
button {
    padding: 5px;
    background-color: rgb(106, 131, 128);
    color: white;
    border: none;
}

.para4 {
    /* text-align: center; */
    margin: auto;
}