* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.menu {
    background-color: #34465c;
    display: flex;
    flex-basis: 54px;
    padding: 0px 16px;
    justify-content: space-between;
    line-height: 54px;
}

.logo {
    display: flex;
    color: white;
    flex-basis: 20%;
    align-items: center;
    justify-content: start;
}

.logo img {
    width: 100px;
}

.sub-menu {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: flex-end;
    /* position: relative; */

}

.sub-menu>a {
    color: white;
    text-decoration: none;
    font-size: .9rem;
    padding: 0px 12px;
}

.sub-menu>a:hover {
    color: #6c757d;
}

.menu-item>a:hover {
    color: #6c757d;
}

.menu-item {
    color: white;
    position: relative;
}

.menu-item>a {
    color: white;
    text-decoration: none;
    font-size: .9rem;
    padding: 0px 14px;
}

.menu-item1 {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 4px rgba(228, 228, 228);
    width: 200px;
    background-color: white;
    right: 0px;
}

.menu-item1>a {
    display: flex;
    color: #464646;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    height: 44px;
    align-items: center;
}

.menu-item1>a:hover {
    background-color: #6c757d;
    color: #fff;
}
.menu-item:hover .menu-item1 {
    display: block;
}
.menu-item2 {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 4px rgba(228, 228, 228);
    width: 200px;
    background-color: white;
    text-align: center;
    right: 0px;
}

.menu-item2>a {
    display: flex;
    color: #464646;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    height: 44px;
    align-items: center;
}

.menu-item2>a:hover {
    background-color: #6c757d;
    color: #fff;
}
.menu-item:hover .menu-item2 {
    display: block;
}
.icon {
    font-size: 30px;
    position: relative;
}

.number1 {
    display: inline-block;
    /* font-size: 15px; */
    background-color: #26a69a;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: 6px;
    right: -9px;
    font-size: 12px;
    padding: .25em .4em;
    font-size: 40%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.avatar {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.home-page1 {
    display: flex;
    justify-content: space-around;
    height: 522px;
    margin: 50px;
}

.part1 {
    display: flex;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.part1>img {
    display: flex;
    height: 522px;
}

.part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 522px; */
    border: none;
    float: right;
    margin-left: 30px;
}

.para {
    display: flex;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #fff;
    height: 21.5%;
    width: 100%;
}

.para1 {
    display: flex;
    /* justify-content: center; */
    width: 105px;
}

.para1>img {
    width: 105px;
    /* height: 100%; */
    object-fit: cover;
}

.para2 {
    display: flex;
    width: 100%;
    padding-left: 10px;
}

.para2>a {
    text-decoration: none;
    display: block;
    padding-top: 15px;

}

.content1 {
    font-size: 16px;
    color: #464646;
}

.content2 {
    /* display: flex; */
    font-size: 14px;
    color: #757575;
    margin: 30px 0px 10px 0px;
}

.home-page2 {
    display: flex;
    margin: 0px 50px;
}

.home-page2>a {
    width: 25%;
    padding: 20px 0px;
    text-decoration: none;
    text-align: center;
}

.a1 {
    font-size: 50px;
    color: #464646;
}

.a2 {
    margin-top: 15px;
    color: #464646;
    font-size: 1rem;
}

.a3 {
    font-size: 14px;
    font-weight: 300;
    color: #999;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.home-page3 {
    display: block;
    background-color: #e4f2fd;
    font-size: 16px;
    color: #464646;
    font-weight: 400;
    padding: 50px;
}

.b1 {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.b2 {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.b2>a {
    text-decoration: none;
    font-size: 16px;
    color: #464646;
    width: 33.33%;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #fdfdfd;

}

.b2-1>img {
    width: 100%;
}

.b2-2 {
    padding: 1rem;
}

.b2-3 {
    padding: 0rem 1rem;
}

.b2-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    padding: 1rem;
}
.home-page4 {
    display: block;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #464646;
    font-weight: 400;
    padding: 50px;
}
.c1 {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.c2 {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.c2>a {
    text-decoration: none;
    font-size: 16px;
    color: #464646;
    width: 33.33%;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #fdfdfd;

}
.c2-1>img {
    width: 100%;
}

.c2-2 {
    padding: 1rem;
}

.c2-3 {
    padding: 0rem 1rem 1rem 1rem;
}
